.user-profile {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.task-btn{
 
  width: 150px;
  height: 50px;
  background-color: cadetblue;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease; 
  position: absolute;
  top: 140px;
  right: 20px;
}


.left-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  margin-left: 15px;
}

.right-container {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.left-container .input-field {
  margin-right: 10px; /* Add margin-right to create space between left input fields */
}

.right-container .input-field {
  margin-left: 10px; /* Add margin-left to create space between right input fields */
}

.profile-image-container {
  width: 250px;
  height: 250px;
  border-radius: 20%;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-image-placeholder {
  width: 100%;
  height: 100%;
  background-color: rgba(172, 152, 152, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
}

.input-field {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 12px;
  background-color: rgb(250, 252, 252) !important;
  color: rgb(17, 42, 67);
  
}



.input-field::placeholder {
  color: rgb(51, 71, 92); 
  opacity: 0.5;
}

#title {
  width: 300px;
}

#description {
  width: 300px;
  min-height: 100px;
}

.text-fields {
  /* margin-bottom: 20px; */
}

.row {
  display: flex;
  margin-bottom: 10px;
}

.dropdowns {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
}

.dropdown {
  width: calc(100% - 10px);
  padding: 10px; 
}

.dropdown::placeholder {
  color: #81afdd;
}

.save-button-container {
  text-align: center;
  padding-bottom: 20px;
  margin: 20px 0; /* Add some margin to separate it from other content */
}

.save-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.save-button:hover {
  background-color: #0056b3;
}


@media only screen and (max-width: 768px) {
  .user-profile {
    flex-direction: column;
    margin-right: 15px; /* Change flex direction to column for phone screens */
  }

  .left-container,
  .right-container {
    flex: none; /* Remove flex-grow to prevent containers from stretching */
    width: 100%; /* Set width to 100% to occupy the entire width */
    margin-bottom: 20px; /* Add margin between the containers */
  }

  .left-container .text-fields,
  .right-container .text-fields {
    display: flex;
    flex-direction: column; /* Change flex direction to column for phone screens */
  }

  .left-container .text-fields .row,
  .right-container .text-fields .row {
    flex-direction: column; /* Change flex direction to column for phone screens */
  }

  .left-container .text-fields .row .input-field,
  .right-container .text-fields .row .input-field {
    margin: 0 10px 10px 10px;
  }

  .dropdown {
    width: 100%;    
  }
}
